// Fonts
// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');

// Colors

// Dark Blue
$darkblue: #080E2F;
// Next Green
$nextgreen: #00313E;
// Portfolio backgrounds
$portfolios: #36395D;
// Resume Button Green
$resumebutton: #507E81;
// Skills Teal
$skillsteal: #146166;
// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);

// MOBILE VERSIONS

// PORTRAIT
@media only screen and (orientation: portrait) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            background-color: $darkblue;
            // background-color: red;
            .container {
                display: flex;
                flex-direction: column;
                // background-color: red;
                .nav_section {
                    // NAV BAR
                    // background-color: red;
                        .the_top_nav {
                            // position: sticky;
                            // background-color: $darkblue;
                            // // background-color: red;
                            // top: 0;
                            // width: 100%;
                            // z-index: 98;
                            // height: 15vh;
                            // SLIDE IN MENU LOGO HERE
                        }
                        .the_navbar {
                            background-color: $darkblue;
                            top: 0;
                            height: 11vh;
                            z-index: 98;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            position: fixed;
                            gap: 20vw;
                            transition: .3s all ease-in;
                            .you {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin: 1.5vh 0 0 2vw;
                                opacity: 0;
                                transition: .3s all ease-out;
                                #name {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-weight: bold;
                                    font-size: 5vw;
                                    margin: 0 0 1vh 1vw;
                                }
                                #job_description {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    border: 1px solid white;
                                    border-radius: 5px;
                                    font-size: 3vw;
                                    padding: .8vh;
                                }
                            }
                            .you.appear {
                                opacity: 1;
                                transition: .3s all ease-in;
                            }
                            .hamburgermobile {
                                // Burger Button
                                background-color: $darkblue;
                                border: none;
                                margin: .5vh 0vw 0 3vw;
                                #top_hamburger {
                                    position: relative;
                                    width: 11vw;
                                    height: 11vw;
                                    transition: 1s all ease-in-out;
                                }
                                // make Menu Burger dissapear (when clicked)
                                #top_hamburger.dissapear {
                                    opacity: 0;
                                    transition: .5s all ease-in-out;
                                }
                            }
                        }
                        .the_navbar.dissapear {
                            transition: .3s all ease-out;
                            opacity: 0;
                        }
                    
                }
                // HOME SECTION
                #home_section_id {
                    .home_section_class {
                        height: 100vh;
                        background-color: $darkblue;
                        .home_section_content {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 8vh;
                            font-family: 'Inter', sans-serif;
                            color: white;
                            height: 100%;
                            margin: 3vh 0 0 0;
                            .head_shot {
                                #headshot {
                                    width: 50vw;
                                    height: 50vw;
                                    border-radius: 50%;
                                }
                            }
                            .name_and_description {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 1.5vh;
                                .home_name {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-family: 'Inter', sans-serif;
                                    font-weight: bold;
                                    font-size: 8vw;
                                }
                                .home_description {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-family: 'Inter', sans-serif;
                                    // font-weight: bold;
                                    font-size: 5vw;
                                    border: 1px solid white;
                                    border-radius: 5px;
                                    background-color: white;
                                    width: 60vw;
                                    height: 3vw;
                                    padding: 4vw;
                                    color: $darkblue;
                                }
                            }
                            .home_slogan {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                font-family: 'Inter', sans-serif;
                                font-size: 4vw;
                                color: white;
                            }
                            .learn_more {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                // font-weight: bold;
                                border: 1px solid $portfolios;
                                border-radius: 5px;
                                background-color: $portfolios;
                                width: 60vw;
                                height: 3vw;
                                padding: 4vw;
                                a {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-size: 5vw;
                                    font-weight: bold;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                // ABOUT SECTION
                #about_section_id {
                    .about_section_class {
                        display: flex;
                        flex-direction: column;
                        height: 110vh;
                        background-color: $nextgreen;
                        .section_title {
                            margin: 5vh 0 0 10vw;
                            font-family: 'Inter', sans-serif;
                            font-size: 8vw;
                            font-weight: bold;
                            color: white;
                        }
                        .about_section_content {
                            display: flex;
                            flex-direction: column;
                            // justify-content: center;
                            align-items: center;
                            gap: 2vh;
                            font-family: 'Inter', sans-serif;
                            color: white;
                            height: 100%;
                            width: 80%;
                            margin: 5vh 0 0 10vw;
                            #about_page_logo {
                                width: 30vw;
                                height: 30vw;
                            }
                            .brand_name_about {
                                width: 100%;
                            }
                            .passion_block {
                                width: 70%;
                                border-bottom: 3px solid $skillsteal;
                                margin: 0 23.5vw 0 0;
                                padding: 0 0 1vh 0;
                            }
                            .resume_button_div {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: $skillsteal;
                                width: 63vw;
                                height: 3vw;
                                padding: 4vw 4vh;
                                margin: 5vh 0 0 0;
                                border-radius: 5px;
                                a {
                                    color: white;
                                    text-decoration: none;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
                // PORTFOLIO SECTION
                #portfolio_section_id {
                    .portfolio_section_class {
                        display: flex;
                        flex-direction: column;
                        height: 100vh;
                        background-color: $darkblue;
                        .section_title {
                            margin: 5vh 0 0 10vw;
                            font-family: 'Inter', sans-serif;
                            font-size: 8vw;
                            font-weight: bold;
                            color: white;
                        }
                        .portfolio_section_content {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-family: 'Inter', sans-serif;
                            color: white;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

// LANDSCAPE

// TABLET

// DESKTOP