@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
@media only screen and (orientation: portrait) {
  * {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  * body {
    background-color: #080E2F;
  }
  * body .container {
    display: flex;
    flex-direction: column;
  }
  * body .container .nav_section .the_navbar {
    background-color: #080E2F;
    top: 0;
    height: 15vh;
    z-index: 98;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    gap: 20vw;
    transition: 0.3s all ease-in;
  }
  * body .container .nav_section .the_navbar .you {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5vh 0 0 2vw;
    opacity: 0;
    transition: 0.3s all ease-out;
  }
  * body .container .nav_section .the_navbar .you #name {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 5vw;
    margin: 0 0 1vh 1vw;
  }
  * body .container .nav_section .the_navbar .you #job_description {
    color: white;
    font-family: "Inter", sans-serif;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 3vw;
    padding: 0.8vh;
  }
  * body .container .nav_section .the_navbar .you.appear {
    opacity: 1;
    transition: 0.3s all ease-in;
  }
  * body .container .nav_section .the_navbar .hamburgermobile {
    background-color: #080E2F;
    border: none;
    margin: 0vh 0vw 0 5vw;
  }
  * body .container .nav_section .the_navbar .hamburgermobile #top_hamburger {
    position: relative;
    width: 11vw;
    height: 11vw;
    transition: 1s all ease-in-out;
  }
  * body .container .nav_section .the_navbar .hamburgermobile #top_hamburger.dissapear {
    opacity: 0;
    transition: 0.5s all ease-in-out;
  }
  * body .container .nav_section .the_navbar.dissapear {
    transition: 0.3s all ease-out;
    opacity: 0;
  }
  * body .container #home_section_id .home_section_class {
    height: 100vh;
    background-color: #080E2F;
  }
  * body .container #home_section_id .home_section_class .home_section_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8vh;
    font-family: "Inter", sans-serif;
    color: white;
    height: 100%;
    margin: 3vh 0 0 0;
  }
  * body .container #home_section_id .home_section_class .home_section_content .head_shot #headshot {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }
  * body .container #home_section_id .home_section_class .home_section_content .name_and_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
  }
  * body .container #home_section_id .home_section_class .home_section_content .name_and_description .home_name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 8vw;
  }
  * body .container #home_section_id .home_section_class .home_section_content .name_and_description .home_description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 5vw;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    width: 60vw;
    height: 3vw;
    padding: 4vw;
    color: #080E2F;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 4vw;
    color: white;
  }
  * body .container #home_section_id .home_section_class .home_section_content .learn_more {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    width: 60vw;
    height: 3vw;
    padding: 4vw;
  }
  * body .container #home_section_id .home_section_class .home_section_content .learn_more a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 5vw;
    font-weight: bold;
    text-decoration: none;
  }
  * body .container #about_section_id .about_section_class {
    display: flex;
    flex-direction: column;
    height: 110vh;
    background-color: #00313E;
  }
  * body .container #about_section_id .about_section_class .section_title {
    margin: 5vh 0 0 10vw;
    font-family: "Inter", sans-serif;
    font-size: 8vw;
    font-weight: bold;
    color: white;
  }
  * body .container #about_section_id .about_section_class .about_section_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: white;
    height: 100%;
  }
  * body .container #portfolio_section_id .portfolio_section_class {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #080E2F;
  }
  * body .container #portfolio_section_id .portfolio_section_class .section_title {
    margin: 5vh 0 0 10vw;
    font-family: "Inter", sans-serif;
    font-size: 8vw;
    font-weight: bold;
    color: white;
  }
  * body .container #portfolio_section_id .portfolio_section_class .portfolio_section_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: white;
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */